/*
Body content
*/
body {
    background-image: url(../images/house.png)
}
.guesschoice {
    color: white;
    text-align: center;
    margin-top: 10px;
}
/*
House Trivia Title
*/
.triviaTitle {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
/*
Hold's all content
*/
.contentBox {
    width: 800px;
    height: 360px;
    padding-top: 20px;
    border: 5px solid white;
    margin: auto;
}
/*
Start button
*/
.start {
    margin-top: 20px;
    margin: auto;
    display: flex;
    justify-content: center;
}

p {
    color: white;
    text-align: center;
}